extends base.pug

block headContent
    script.
        document.addEventListener("DOMContentLoaded", function() {
            const noticeContentsNodeList = document.querySelectorAll('.forConvertToHtml')
            const noticeContents = Array.from(noticeContentsNodeList);
            const innerTexts = [];
            for(let i = 0; i < noticeContents.length; i++) {
                innerTexts.push(noticeContents[i].innerText);
            }
            const paragraphs = document.querySelectorAll('.noticeContent');
            for(let i = 0; i < paragraphs.length; i++) {
                paragraphs[i].innerHTML = innerTexts[i];
            }
        });



block content
    if lecture
        h1 #{lecture.lectureName} lecture page
        hr
        h2 게시물
        if lecture.noticeIds.length === 0
            if loggedInUser.userType === 'professor'
                h3(style="color:red") No posts yet. Please register your first post for students.
            else
                h3(style="color:red") No posts yet. Ask the professor.
        else
            ul
                each noticeId in lecture.noticeIds
                    li
                        span(class="forConvertToHtml", style="display:none")= noticeId.content
                        h5 posted time: #{noticeId.createdAt}
                        p(class="noticeContent") 
                        hr
        hr
        h2 quiz
        if !lecture.quizId
            if loggedInUser.userType === 'professor'
                h3(style="color:red") We don't have a quiz yet. Please register for a quiz for students.
            else
                h3(style="color:red") We don't have a quiz yet. Ask the professor.
        else
            if loggedInUser.userType === 'professor'
                h3 posted question
                p= lecture.quizId.quizProblem
                br
                a(href=`/prof/lecture/showLectureSubmits/${lecture._id}`) 퀴즈 채점하러 가기
            else
                if submitted
                    if grade.graded 
                        h3(style="color:red") your grade: #{grade.grade}
                    if !grade.graded
                        h3(style="color:red") It hasn't been graded yet
                else
                    h3 problem
                    p= lecture.quizId.quizProblem
                    p Please submit the txt file
                    form(method="POST", enctype="multipart/form-data")
                        input(type="file", name="txtFile", id="txtFile", placeholder="Please submit the txt file", required)
                        input(type="submit", value="submit")
            hr
        if loggedInUser.userType === 'professor'
            a(href=`/prof/lecture/newNotice/${lecture._id}`) post new notice
            br
            if lecture.quizId
            else
                a(href=`/prof/lecture/newQuiz/${lecture._id}`) post new quiz
            br
            br
            br
            a(href="/prof/lecture") Go to the list of courses you've opened
        else
            a(href="/stu/lecture") Go to the list of courses you are taking