extends ../base.pug

block content
    h2 score assignment
    h3 lecture name : #{lecture.lectureName} 
    h3 student name : #{stuName}
    br
    p  #{data}

    form(method="POST" action=`/prof/lecture/gradeStudentSubmit/${lecture._id}/${stuId}`)
        label(for="grading") score:
        input(type="number", name="grading", placeholder="0~100", min="0", max="100")
        input(type="submit", value="score")

